{% load static %}

<header class="public-header">

    <div class="container-xl public-header-inner">

        <!-- Logo -->

        <a href="{% url 'accueil_public' %}" class="logo">

            <div class="logo-icon">

                <i class="bi bi-file-earmark-text"></i>

            </div>

            <span>Mon carnet comptable</span>

        </a>

        <!-- Bouton connexion -->

        <a href="{% url 'login' %}" class="login-btn">

            <i class="bi bi-person"></i>

            Se connecter

        </a>

    </div>

</header>