asgiref==3.11.1
chardet==7.4.3
Django==6.0.6
gunicorn==26.0.0
holidays==0.99
packaging==26.2
pillow==12.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
pypdf==6.14.2
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.12.0
